# Csharp & dotnet

# Dependencies
obj/
bin/
# Build output
dist/

# npm pack artifacts
*.tgz

# Environment variables
.env
.env.*
!.env.example


# OS-specific files
.DS_Store
Thumbs.db

# IDE & Editor specific
.vscode/
.idea/

# NuGet packages
*.nupkg
*.nuspec

# Build results
*.dll
*.pdb
*.exe

# MSBuild files
*.cache
*.json
*.g.props
*.g.targets
*.dgspec.json
*.sourcelink.json
*.editorconfig
*.FileListAbsolute.txt

sdk_local_nuget_steps.txt